extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        .h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ex quidem odio commodi quae consequuntur repudiandae tempore tenetur nihil, explicabo ducimus nobis, reprehenderit maiores deleniti cum placeat illo accusantium nemo.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veniam laudantium est veritatis commodi! Et sapiente consequuntur, saepe sed vel mollitia repellat reprehenderit totam suscipit expedita nesciunt fugiat alias perferendis.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen", class="img-fluid")
                
        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2056 - 28 Marzo de 2056
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales